[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/teetee246810/2025pynjcmat/blob/main/lesson2_student.ipynb)

# Function

In computing, a function corresponds to a sequence of steps that is given an identifier and returns a single value; a function call must be part of an expression (since it returns a value).

This notion of function is similar to the mathematical function with some differences that we would mention later.

## Declaring and Calling a Function

In order to define a function in Python, we must first declare it. A function declaration consists of a function name followed by a routine body. The routine body is the statement block.

The following is an example in pseudocode.

>```text
>1 FUNCTION square(n : INTEGER) : INTEGER
>2    result â† n * n
>3    RETURN result
>4 ENDFUNCTION
>```

From the above example, we notice that the function declaration includes:

- The identifier or name of the function (i.e., `square`)
- The parameter(s) (i.e., input variable(s)) for the function (i.e., the single input variable `n : INTEGER`)

Correspondingly, the function body contains:

- The various statements that define what the function does (i.e., each line after the function header/interface)
- A statement that gives the function a value to return (i.e., the `return result` statement on the last line)

Essentially, when we define a function, we use an ordered list of variables, termed **parameters**, to be supplied into the function. E.g., `n` is a parameter in the example above.

When the function is called with an actual input, the input is called an **argument**, i.e., the arguments supplied are assigned to the corresponding parameter of the routine. Do note the order of the parameters in the parameter list must be the same as the order in the list of arguments. Using our example above, in the expression `square(2)`, `2` is the argument.

When an executed program gets to the statement that includes a function call as part of the expression, the function is executed. The value returned from this function call is then used in the expression. Thus, with the above line of code, the result of the `square(2)` function call is assigned to the variable `result`.

In Python, we declare a function with the following syntax:

>```python
>def function_name(parameters):
>	statement/statements
>   return some_value
>```

* Keyword `def` marks the start of a function.
* Every function has an user defined name as unique identifier. In the example above it's `function_name`
* It takes in values, known as **parameters**, before running the code block.
* It may return value as a result using `return` statement.
    * If no `return` statement, the function will return the `None` data type at the end of the function.
* All statements must be equally indented, which is usually 4 spaces.

**Note:** Do not indent your program with mix of spaces and tabs.

#### Example
The program to implement the function defined by the following pseudocode  

>```coffeescript
>1 FUNCTION square(n : INTEGER) : INTEGER
>2    result â† n * n
>3    RETURN result
>4 ENDFUNCTION
>```

in Python looks like:

In [ ]:
def square(n):
    result = n * n
    return result

print(square(4))
print(square(11))

16
121

#### Exercise
Write a **function** named `my_circle_area` that takes in a float $r$ as a parameter and returns a float that represents the area of a circle with radius $r$.

In [ ]:
# YOUR_CODE_HERE

12.566370614359172

#### Exercise
Write a **function** named `my_discriminant` that takes in three float values $a$, $b$ and $c$ as parameters that represents that coefficients of the quadratic expression in the equation $ax^2 + bx + c = 0$ and returns a float that represents the discriminant of the quadratic equation

In [ ]:
# YOUR_CODE_HERE

4.795831523312719j

#### Exercise
Write a **function** named `my_gradient` that takes in four float values $x_1$, $y_1$, $x_2$ and $y_2$ as parameters and returns a float that represents the gradient of the line passing through the points $(x_1,y_1)$ and $(x_2,y_2)$ where $x_1 \neq x_2$ in a Cartesian plane.

In [1]:
# YOUR_CODE_HERE

#### Exercise
Write a function named `is_odd` that takes in an integer value $x$ as a parameter and returns a Boolean value `True` if the $x$ is an odd integer and `False` otherwise.

> Hint: Recall the use of the `%` and `==` operator.

In [ ]:
# YOUR_CODE_HERE

True

#### Exercise
Write a **function** named `my_reciprocal` that takes in a float value $x$ as parameter and returns a float that represents the reciprocal of $x$.

In [ ]:
# YOUR_CODE_HERE

0.16666666666666666
2/3

As we can see from the exercises above, defining a function in Python can be pretty much analogous to how we do it in mathematics.

However, there is a slight difference in it which was hinted in the last example. Can you spot it?

## f-string for String Formatting
We will digress a little bit from our discussion of function to the formatting of the string data as sometimes we would like to output or return our computed values in some specific manner for aesthetics or clarity purposes.

Python f-strings provide a concise and readable way to embed expressions inside string literals. By prefixing a string with the letter `f` stands for 'formatting', you can include placeholders enclosed in curly braces `{}` directly within the string.

These placeholders evaluate the expressions they contain and the evaluated expression will replace the placeholders in the string. They can include variables, arithmetic operations, function calls, or even more complex expressions, ensuring flexibility and readability in the code.

#### Example
Consider the following code:

```python
name = "Alice"
age  = 25

#
greeting = f"Hello, {name}! You are {age} years old."
print(greeting)
```

The output would be:

```text
Hello, Alice! You are 25 years old.
```

In [ ]:
# You can try out some f-strings here
# YOUR_CODE_HERE

#### Example
Write a **function** named `my_circle_area` that takes in a float $r$ as a parameter and output the following string

```python
'The area of the circle with radius {r} is {area} unit square',
```

where `{r}` and `{area}` should correspond to the float $r$ and the area of the circle with radius $r$ respectively.

In [ ]:
# YOUR_CODE_HERE

# List Data Type
A Python list is a versatile and powerful data type used to store multiple items in a single variable. Think of a list as a collection that holds an ordered sequence of elements, which can include numbers, strings, or even other lists. The concept of list is very important is problem-solving as it helps us to keep track of the items of concern.

## Creating a List
You define a list using square brackets (`[]`), with each element separated by a comma. For example,

```python
my_list = [1, 'hello', 3.5, True]
```

creates a list containing an integer, a string, a float, and a boolean.

The concept of list is similar to the concept of sets in mathematics. However, list allow the repetition of items and the order of the elements matter. E.g.
- the list `[1,1,2]` is not the same as the list `[1,2]`
- the list `[2,1]` is not the same as the list `[1,2]`

Due to the ordered property of list, we can use list represent a point in the Cartesian with its $x$ and $y$ coordinates.

#### Example
Point $P$ with coordinates $(1,5)$ can be represented as `[1,5]`.

Besides the logical operators mentioned above, there's an operator `in` that can be used to check if an element $x$ belongs to a list $L$, i.e., $x \in L$. The expression will be evaluated to the Boolean `True` or `False`.

#### Example
Write a code to check if the values `1` and `'True'` is contained in the list `my_list` defined above.

In [ ]:
my_list = [1, 'hello', 3.5, True]
print(1 in my_list)
print('True' in my_list) #"True" as a string vs True as a Boolean value

True
False
True

In our context, there are some lists that are more applicable to us in solving mathematical problems. Below we will see how to create those lists.

### Lists that contain a range of integers/floats
In mathematics, we often see sets of the following form
$$\left\{ x \mid x\in\mathbb{Z} \wedge m\leq x < n\right\} $$
which is a set of integers between $m$ and $n$, **with $m$ being included but not $n$**.

To create such collection/list in Python, we can use the following syntax:

```python
[x for x in range(m, n)]
```

Note that the way to create the collection is analogous to how we formally write a set in mathematics. The correspondences are :
- instead of curly braces `{}`, we use square brackets `[]` to indicate a collection
- instead of writing $x\in \mathbb{Z} \wedge m\leq x < n$, we write `x in range(m, n)`. This way of defining is inbuilt in Python and is just is.

#### Example
Write a program to create a list of the first 5 non-zero integers and print it.

In [ ]:
l = [x for x in range(1,6)]

print(l)

[1, 2, 3, 4, 5]

#### Exercise
The set of the all odd positive integers can be written as in mathematical notation as

$$\left\{ 2k+1 \mid k\in\mathbb{Z}\right\}.$$

Write a program to create a list of the odd positive integers below 25 and print it.

In [ ]:
# YOUR_CODE_HERE

### Lists that contain values that matches some predicate $P$
Generally, in mathematics, we can naively create a set of values $x$ where the elements fulfills some criteria $P(x)$. Such set is written as

$$\left\{ x \mid \forall x\in L, P(x) \text{ is true}\right\}.$$

Similar to the previous section, we can create such collection/list in Python, we can use the following syntax:

```python
[x for x in L if P(x)]
```

where `L` is a Python list with already containing some elements and `P(x)` is a function taking `x` as a parameter with a Boolean return.

#### Example
The set of the all even positive integers can be written as in mathematical notation as

$$\left\{ 2k \mid k\in\mathbb{Z}\right\}.$$

Write a program to create a list of the even positive integers below 30 and print it.

In [ ]:
L = [x for x in range(1,30)]

def P(x):
    return (x % 2 == 0) and (x < 30)

even_list = [x for x in L if P(x)]

print(even_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

#### Exercise
The **intersection** of two sets $A$ and $B$, $A\cap B$ is defined as

$$A\cap B = \left\{ x\mid x\in A\wedge x\in B\right\}.$$

Write a function `intersection()` that takes in two lists $A$ and $B$, which represents sets, and return a list that represents the intersection of the two sets.

Test your function with the following parameters:
- `A = [1, 3, 5, 7, 9]`, `B = [5, 6, 7, 8, 9, 10]`
- `A = [x for x in range(0, 20)]`, `B = [3*k for k in range(4,10)]`

In [ ]:
# YOUR_CODE_HERE

[5, 7, 9]

#### Exercise
An integer `x` is a **factor** of another integer `a` if `x` divides `a`.

Write a function `find_factors()` that takes in an integer `a` as a parameter and return a list of all the factors of `a`.

In [ ]:
# YOUR_CODE_HERE

[1, 2, 3, 4, 6, 12, -12, -6, -4, -3, -2, -1]

** Edited to make the code more modular
[1, 2, 4, 5, 10, 20, -20, -10, -5, -4, -2, -1]

#### Exercise
Write a function `common_factors()` that takes in two integers `a` and `b` as parameters and return a list of all the common factors of `a` and `b`.

In [ ]:
# YOUR_CODE_HERE

list of factors of 48: [1, 2, 3, 4, 6, 8, 12, 16, 24, 48]
list of factors of 120: [1, 2, 3, 4, 5, 6, 8, 10, 12, 15, 20, 24, 30, 40, 60, 120]
list of common factors: [1, 2, 3, 4, 6, 8, 12, 24]

List of factors of 48: [1, 2, 3, 4, 6, 8, 12, 16, 24, 48]
List of factors of 120: [1, 2, 3, 4, 5, 6, 8, 10, 12, 15, 20, 24, 30, 40, 60, 120]
List of common factors: [1, 2, 3, 4, 6, 8, 12, 24]

This ease of creating collection that is analogous to how we define set is mathematics in Python is called **list comprehension**. Besides being a concise and efficient way to create lists, list comprehension helps to make the code more readable for someone who is trained in reading mathematical notation.

## Nested Lists
As we have seen earlier, elements in a list could itself be a list. Such lists that  contain other lists as their elements is called a nested list. This allows you to create complex data structures, such as matrices or tables.

A nested list is defined using square brackets, where each element of the list can itself be another list.

#### Example
We can represent the $3\times 3$ matrix

$$A = \left(\begin{array}{ccc}
1 & 2 & 3\\
4 & 5 & 6\\
7 & 8 & 9
\end{array}\right)$$

as a nested list in Python as follows.

In [ ]:
A = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

To access elements in a nested list, you use multiple indices: the first index selects the sublist, and the second index selects the specific element within that sublist. For instance, `A[1][2]` retrieves the value `6`, which the $(1,2)$ th entry of the nested list.

If we stick with zero-indexing, this is analogous to how we write $(1,2)$ th entry of the matrix $A$ in mathematics which is $a_{12}$.

## Manipulating a List
###**Accessing Elements**
Lists are mutable, meaning you can add, remove, or modify elements after the list is created. The order of elements in a list is preserved, and you can access them using their index, starting from zero. For instance, if

```python
my_list = [1, 'hello', 3.5, True]
```

- `my_list[0]` would return `1`,
- `my_list[1]` would return `'hello'`.

###**Modifying Elements**

You can change the value of an element in a list by assigning a new value to its index.



```
my_list[1] = 99
```
- `print(my_list)`  would return `[1, 99, 3.5, True]`.

###**Appending Elements**

You can append an element to the end of a list.

```
my_list.append(60)
```
- `print(my_list)`  would return `[1, 99, 3.5, True, 60]`.

###**List Slicing**

You can extract a portion of a list using slicing. The syntax is `list[start:stop:step]`.

```
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
```
- `print(my_list[2:5])`  would return `[3, 4, 5]`.

- `print(my_list[::2])`  would return `[1, 3, 5, 7, 9]`.

###**Finding elements in a list**

You can use the `in` keyword to check if an element exists in a list.

```
my_list = [10, 20, 30, 40, 50]
```
- `print(20 in my_list)`  would return `True`.

- `print(99 in my_list)`  would return `False`.

To find the index of an element, use the syntax index().
```
index = my_list.index(30)
```
- `print(index)` would return `2`.

###**Exercises**

Have fun working on the following exercises ðŸ˜ƒ

(a) Determine if a quadratic $x^2+bx+c$ has integer factors. \
[Bear in mind that a monic quadratic polynomial has a unique factorization over the integers (up to the order of the factors).] \
(b) Run the Sieve of Erasthotenes.

In [ ]:
# YOUR_CODE_HERE

[1, 2, 4, 5, 10, 20, -20, -10, -5, -4, -2, -1]
([4, -5], 'Integer factors found!')

# Useful Inbuild Python Functions
Python has inbuilt functions that are particularly useful in doing mathematics.

## `len()` Function
When a list $L$ is passed into the `len()` function as a parameter, it returns the number of items in $L$.

#### Example
The code `len([1, 3, 4, 2])` returns `4`.

In [ ]:
l = [1, 3, 4, 2]

print(len(l))

4

## `max()` and `min()` Functions
The `max()` and `min()` functions in Python are built-in tools that can take in a list as a parameter and return the maximum and minimum values in a list respectively.

#### Example
```python
numbers = [3, 7, 2, 9, 5]
print(max(numbers))  # Output: 9
print(min(numbers))  # Output: 2
```

#### Exercise
Let $a$ and $b$ be positive integers. A common factor of $a$ and $b$ is a positive integer $k$ that is a factor of both $a$ and $b$. The highest of such integer is called the highest common divisor of $a$ and $b$, denoted as $\operatorname{hcf}(a,b)$.

Write a function $\operatorname{hcf}$ that takes in 2 positive integer $a$ and $b$, and return the highest common factor of $a$ and $b$.

In [ ]:
# YOUR_CODE_HERE

factors of 48:[1, 2, 3, 4, 6, 8, 12, 16, 24, 48]
factors of 120:[1, 2, 3, 4, 5, 6, 8, 10, 12, 15, 20, 24, 30, 40, 60, 120]
Common factors: [1, 2, 3, 4, 6, 8, 12, 24]
highest common factor: 24

## `sum()` Function
Similarly, if a list $L$ is passed in as a parameter, the function `sum()` computes the total of all elements in $L$. This function is valuable for summing sequences, calculating cumulative totals, or solving problems involving series.

#### Example
Write a function `my_sum()` that takes in an integer parameter $n$ and return the sum the first $n$ natural numbers.

Test your program with $n = 100$.

In [ ]:
def my_sum(n):
    l = [x for x in range(1, n + 1)]
    return sum(l)

print(my_sum(100))

5050

#### Exercise
Write a function `my_mean()` that takes in a list of values $L$ and return the arithmetic mean of the values in $L$.

In [ ]:
# YOUR_CODE_HERE

## `range()` Function
The `range()` function, which we have encountered in the creation of lists, generates an memory-efficient object that represents a sequence of numbers in the computer.

It has the syntax

```python
range(start, stop, step)
```

It returns an object that produces a sequence of integers from `start` (inclusive) to `stop` (exclusive) by `step` amount.


#### Example
Write a program to create a list of the odd positive integers below 30 and print it.

In [ ]:
l = [x for x in range(1, 31, 2)]

print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

## Typecasting Functions
Typecasting functions like `int()`, `float()`, and `list()` enable smooth transitions between different data formats. They convert the string inputs into their associated intended data type.

For instance, converting a string `"5"` to an integer using `int("5")` ensures compatibility with arithmetic operations, while `float("3.14")` converts the string `"3.14"` to the float `3.14`.

The `list()` function can transform a `range` object into a list, which is helpful for creating sequences.

Conversely, we can convert integer and float objects into string objects by using the `str()` typecasting function.

#### Example
Write a program to create a list of the odd positive integers below 30 and print it.

In [ ]:
list(range(1, 31, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

#### Example
Write a **function** named `main` that:
- takes in no parameter
- asks user to input a float value $r$
- output the following string

```python
'The area of the circle with radius {r} is {area} unit square'.
```

where `{r}` and `{area}` should correspond to the float $r$ and the area of the circle with radius $r$ respectively.

In [ ]:
# YOUR_CODE_HERE
## Self directed learning: user input
def main():
  r = input("Enter radius of circle:" ) #r is a string here.
  return 'The area of the circle with radius {r} is {area} unit square.'

print(main())

Enter radius of circle:2
The area of the circle with radius {r} is {area} unit square.

## `type()` Function
`type()` determines the data type of a value or variable, such as `type(3.14)` returning `<class 'float'>`. This function is crucial in debugging or ensuring compatibility in operations where specific data types are required.

Typecasting functions are often used together with `input()` as `input()` statement  stores user input as a `str` object. Therefore, we use the typecasting functions to convert the input into usable datatype first.

#### Example
Write a program that asks user to input a number and print out the square of the number.

In [ ]:
a = input('Please enter a number')

print(type(a))

a = float(a)

print(type(a))

print(a**2)

Please enter a number4
<class 'str'>
<class 'float'>
16.0

#### Exercise
A positive integer $p$ is called a **prime** number if the only divisors of $p$ is $1$ and $p$ itself.

Write a function `is_prime()` that takes in a positive integer $x$ and returns Boolean `True` if $x$ is a prime number and `False` otherwise.

In [ ]:
# YOUR_CODE_HERE

(True, [1, 113])

#### Exercise
Write a function `find_prime_factors()` that takes in a positive integer $x$ and return a list of all the prime factors of $x$.

In [ ]:
# YOUR_CODE_HERE

[2, 3, 5, 7]

#### Exercise

Write a function primes_between $(a, x)$ that takes in two positive integers $a$ and $x$, where $a < x$, and returns a list of all prime numbers $p$ such that $a < p \leq x$. If no such primes exist, return an empty list.

In [ ]:
# YOUR_CODE_HERE

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101]

#### Exercise
The $n$ th triangular number is obtained by taking the sum of the first $n$ natural numbers i.e., $1, 2, 3, 4, 5, \cdots, n$.

The first 4 triangular numbers are:
- 1st : $1$
- 2nd : $3 = 1 + 2$
- 3rd : $6 = 3 + 3$
- 4th : $10 = 6 + 4$

Write a function `triangle()` that takes in an integer $n$ and returns the list of the first $n$ triangular number.

Test your function with $n = 50$.

In [ ]:
# YOUR_CODE_HERE

5050